body {
    width: 100%;
}

body, .login-wrapper::before {
    background-image: url('/assets/img/book4cook-background.jpg');
    background-position: left top;
    background-size: auto;
}

.login-wrapper::after {
    background-color: rgba(179, 86, 0, 0.4);
}

.select-background {
    background-color: white;
    border: 1px solid rgba(60,60,60,.26);
}

.brand-main {
    img {
        height: 200px;
    }
}

.btn-theme {
    color: #333;
    background-color: #ffde00;
    border-color: #ffde00;
}

.sep-line{
    margin: 0 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.9);
}

.site-header {
    background-color: transparent;
    height: 240px;
    max-width: 960px;
    left: 0;
    margin:  0 auto;
    padding: 20px 0;
    position: static;
    top: 0;
}

.add-recepie-container {
    background-color: Bisque;
    color: brown;
    margin: 1em 2.5%;
    border-radius: 4px;
    padding: 1em;
}

.section-of-recepies {
    background-color: brown;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
}

.list-of-rcepies {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  li {
      background-color: white;
      display: block;
      position: relative;
      margin: 0;
      color: black;
      border: 1px solid rgba(0, 0, 0, 0.9);
      border-radius: 8px;

      a{
        box-sizing: border-box;
        cursor: pointer;
      }
      div{
        padding: 0.3em 0.6em;
      }
      span{
        position: relative;
      }

      .recepie-name{
        float: left;
        margin-right: 20px;
        width: 30%;
      }

      .autor{
        float: left;
        margin-right: 20px;
        width: 30%;
      }

      .category{
        margin-left: 20px;
      }

      .rank{
        float: right;
        text-align: right;
        width: 10%;
      }

    }

    .no-items {
        min-height: 21em;
        padding: 10em 0;
        text-align: center;;
    }

    .list-of-recepies-item:hover {
        background-color: Chocolate;
    }

    .list-of-recepies-item a:hover {
        color: white;
    }
}

.home-footer{
    position: relative;
    background-color: transparent;
    text-align: center;
    color: chocolate;
    bottom: 0;
    padding: 10px;
    margin: 0 auto;
    font-size: 15px;
    span{
        color: brown;
    }
}

.link-to-register{
    float: inline-end;
}

.list-of-pages {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  li {
      background-color: white;
      display: inline-block;
      position: relative;
      margin: 0;
      min-width: 40px;
      text-align: center;
      box-sizing: border-box;
      padding: 0.3em 0.6em;
      color: brown;
      border: 1px solid rgba(0, 0, 0, 0.9);
      border-radius: 4px;
    }

    li:hover {
        background-color: Chocolate;
        color: white;
    }
}

.tab-list {
  list-style: none;
  margin: 0;
  li {
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 0.3em 0.6em;
      background-color: Bisque;
      color: Brown;
      border: 2px solid rgba(0, 0, 0, 0.9);
      border-bottom: 0px;
      border-radius: 4px 4px 0 0;
      margin: 0 4px;
      cursor: pointer;

    li:hover {
        background-color: Chocolate;
        color: white;
    }
}

.active-tab {
    background-color: brown;
    color: Bisque;
    }
}

.register-form-center{
  max-width: 640px;
  margin: 0 auto;
}

.action-list {
    float: right;
    list-style: none;
    margin: 64px 0;
    padding: 8px 8px;
    background-color: brown;
    border-radius: 4px;
    li {
        display: block;
        float: left;
        position: relative;
        margin: auto;
        padding: 0 5px;
        a {
            background-color: BurlyWood;
            border-radius: 4px;
            color: brown;
            display: inline-block;
            font-size: 16px;
            line-height: 16px;
            padding: 10px;
        }

        a.active {
            background-color: transparent;
            color  : $ls-color-primary;
        }

        a:hover {
            background-color: Chocolate;
            color: white;
        }
    }

    .avatar {
        padding: 0;
        background-color: transparent;
        color: white;
    }

    .avatar img {
          width: 120px;
          height: 120px;
          border-radius: 24px;
    }

    .dropdown-menu {
        background-color: brown;
        a{
            font-size: 14px;
            line-height: 14px;
            padding: 6px;
            margin-bottom: 4px;
        }
        i {
            width: 25px;
            text-align: center;
            margin-left: -5px;
            padding: 6px;
        }

    }

    .notification-dropdown {
        padding: 5px;

        .dropdown-header {
            border-bottom: 1px solid $ls-color-gray--very-dark;
            color: $ls-color-primary;
            padding: 3px 10px 8px;
            margin-bottom: 0;
        }
    }

    .dropdown-divider {
        background-color: $dropdown-divider-bg;
    }

}

@media (max-width: 767px) {
  .site-header{
      height: 100px;
  }
  .action-list {
      width: 100% !important;
      height: 60px !important;
      margin: 0 auto !important;
  }
  .avatar {
    float: left;
  }
  .dropdown-menu {
    position: static !important;
  }
}

@include media-breakpoint-down(sm) {

    .nav-toggle {
        display: inline-block;
        margin-left: 10px;
    }

    .brand-main {
        float: left;

        img {
            height: 32px;
            padding-top: 4px;
        }
    }
}

.section-hero-area {
    position: relative;
    padding-top: 40px;
}

.container {
  width: 1240px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0 auto;
}

.select2-container {
    box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.brand-main {
    float: none;
}

.register-box {
    max-width: 960px;
    margin: 0 auto;
    color: #fff;
}

.login-box .btn-theme, .register-box .btn-theme, .login-box a, .text-sm-center a {
    background-color: chocolate;
    color: white;
    border: 1px solid brown;
    margin-bottom: 10px;
}

.login-box .btn-theme:hover, .register-box .btn-theme:hover, .login-box a:hover, .text-sm-center a:hover{
    background-color: brown;
    color: BurlyWood;
    border: 1px solid chocolate;
}

.login-box .forgot-link, .register-box .forgot-link{
    color: brown;
    background-color: transparent;
    padding: 1px;
    border: 0px;
}

.login-box .forgot-link:hover, .register-box .forgot-link:hover {
    color: brown;
    background-color: transparent;
    padding: 0px;
}

.login-box .page-copyright, .register-box .page-copyright {
    text-align: center;
    margin-top: 20px;
}

.input-image {
    position: relative;
    background-color:  white;
    width: 217.5px;
    height: 217.5px;
    border-radius: 50%;
    border: 1px solid brown;
    margin: 0 auto 32px;
}

.input-image-recepie {
    border-radius: 20%;
    width: 122px;
    height: 122px;

    .input-image-text{
        margin: 30% 0;
    }
}

.input-image-text {
    position: absolute;
    white-space: nowrap;
    line-height: 100%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: orange;
    z-index: 1;
    margin: 39% 0;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  padding: 0;
}

h4{
  margin-bottom: 4px;
}

.h4-new-recepie {
  text-align: right;
  margin: 2% 0;
}

.row-sep{
  margin: 0.2em -15px;
}

.description-recepie  {
    padding: 0;
    textarea{
        min-height: 10em;
    }
}

.btn-search {
    width: 100%;
    background-color: white;
}

.error-image{
    color: brown;
    z-index: 3;
    top: -25%;
    position: relative;
}

.tag-list{
    list-style: none;
    display: inline-block;
    padding: 0.2em 0.4em;
    margin: 0 0.2em;
    font-size: 0.7em;
    border-radius: 4px;
    background-color: brown;
    color: white;
}
